@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/noto-sans-kr";

html, body, div {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

* {
  box-sizing: border-box;
}
